<h2 class="sub-header">Messages</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Visit</th>
				<th>Home</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of footballSchedules">
				<td>{{item.dte}}</td>
				<td>{{item.tm}}</td>
				<td>{{item.vis}}</td>
				<td>{{item.hom}}</td>
				<td>{{item.loc}}</td>
			</tr>
		</tbody>
	</table>

	<!-- pager -->
	<app-paging></app-paging>
</div>
