 <button popover="Hello popover. Now click outside." [popoverCloseOnClickOutside]="true">
    click to open popover
  </button>

<div>
	<table class="table table-striped table-responsive table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Matchs</th>
			</tr>
		</thead>
		<tbody>
			<template let-group ngFor [ngForOf]="scheduleAndGroupUp">
			<tr class="clickable" data-toggle="collapse" id="global"
				[attr.data-target]="'#' + group.groupId">
				<td style="width: 20px;"><span
					class="glyphicon glyphicon-collapse-down"></span></td>
				<td>{{group.keyGroup}}</td>
				<td>{{group.valueGroup}}</td>
			</tr>
			<tr id="{{group.groupId}}" class="collapse">
				<td colspan="2">
					<div class="panel panel-info">
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Time</th>
									<th>Visit</th>
									<th>Home</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of group.items">
									<td></td>
									<td>{{item.tm}}</td>
									<td>{{item.vis}}</td>
									<td>{{item.hom}}</td>
									<td>{{item.loc}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</template>
		</tbody>
	</table>
</div>

<app-paging [totalItemCount]="totalItemCount"
	[itemPerPage]="itemPerPage"
	(page_change_event)="pageChangedHandler($event)"></app-paging>

<div>
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Visit</th>
				<th>Home</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of footballSchedules">
				<td>{{item.dte}}</td>
				<td>{{item.tm}}</td>
				<td>{{item.vis}}</td>
				<td>{{item.hom}}</td>
				<td>{{item.loc}}</td>
			</tr>
		</tbody>
	</table>

	<!-- pager -->
</div>
